<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <!--日志记录组建配置-->
  <log4net>
    <!-- 日志文件输出到文件部分log输出格式的设定 -->
    <appender name="InfoRollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <!--定义文件存放位置-->
      <file value="Logs\Info\" />
      
      <!--是否追加到文件,默认为true，通常无需设置-->
      <appendToFile value="true" />
      
      <!--文件根据时间滚动储存-->
      <rollingStyle value="Date" />

      <!--最多有多少个文件，当大于这个数， 就会把最先的文件删除-->
      <param name="MaxSizeRollBackups" value="10" />

      <!--每个文件最大大小-->
      <param name="MaximumFileSize" value="1MB" />
            
      <!--日期的格式，每天换一个文件记录，如不设置则永远只记录一天的日志-->
      <datePattern value="yyyy-MM\\yyyy-MM-dd'.log'" />
      
      <!--日志文件名是否为静态-->
      <staticLogFileName value="false" />
      
      <!--多线程时采用最小锁定-->
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      
      <!--布局（向用户显示最后经过格式化的输出信息）-->
      <layout type="log4net.Layout.PatternLayout">
        <!--
           %m(message):输出的日志消息，如ILog.Debug(…)输出的一条消息 
           %n(new line):换行 
           %d(datetime):输出当前语句运行的时刻 
           %r(run time):输出程序从运行到执行到当前语句时消耗的毫秒数 
           %t(thread id):当前语句所在的线程ID 
           %p(priority): 日志的当前优先级别，即DEBUG、INFO、WARN…等 
           %c(class):当前日志对象的名称
           %L：输出语句所在的行号 
           %F：输出语句所在的文件名 
           %-数字：表示该项的最小长度，如果不够，则用空格填充
          -->
        <!--正文-->
        <conversionPattern value="%n%d [%t] %-5p %c %n%m%n%n"/>
      </layout>
    </appender>

    <appender name="ErrorRollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <!--定义文件存放位置-->
      <file value="Logs\Error\" />

      <!--是否追加到文件,默认为true，通常无需设置-->
      <appendToFile value="true" />

      <!--文件根据时间滚动储存-->
      <rollingStyle value="Date" />

      <!--最多有多少个文件，当大于这个数， 就会把最先的文件删除-->
      <param name="MaxSizeRollBackups" value="10" />

      <!--每个文件最大大小-->
      <param name="MaximumFileSize" value="1MB" />

      <!--日期的格式，每天换一个文件记录，如不设置则永远只记录一天的日志-->
      <datePattern value="yyyy-MM\\yyyy-MM-dd'.log'" />

      <!--日志文件名是否为静态-->
      <staticLogFileName value="false" />

      <!--多线程时采用最小锁定-->
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />

      <!--布局（向用户显示最后经过格式化的输出信息）-->
      <layout type="log4net.Layout.PatternLayout">
        <!--
           %m(message):输出的日志消息，如ILog.Debug(…)输出的一条消息 
           %n(new line):换行 
           %d(datetime):输出当前语句运行的时刻 
           %r(run time):输出程序从运行到执行到当前语句时消耗的毫秒数 
           %t(thread id):当前语句所在的线程ID 
           %p(priority): 日志的当前优先级别，即DEBUG、INFO、WARN…等 
           %c(class):当前日志对象的名称
           %L：输出语句所在的行号 
           %F：输出语句所在的文件名 
           %-数字：表示该项的最小长度，如果不够，则用空格填充
          -->
        <!--正文-->
        <conversionPattern value="%n%d [%t] %-5p %c %n%m%n%n"/>
      </layout>
    </appender>
    
    <!-- Setup the root category, add the appenders and set the default level -->
    <logger name="InfoLog">
      <level value="INFO" />
      <appender-ref ref="InfoRollingLogFileAppender" />
    </logger>
    <logger name="ErrorLog">
      <level value="Error" />
      <appender-ref ref="ErrorRollingLogFileAppender" />
    </logger>
  </log4net>
</configuration>



